{% extends 'base.html.twig' %}

{% block title %}Hello world{% endblock %}

{% block body %}
    <h1>thank you for showing intrest in me</h1>
    <p>my name is {{details.name}} and i am {{details.age}} and i like {{details.likes}}
{% endblock %}